body {
	background-color: #dccdcd;
}

h1 {
	font-family: cursive;
	font-size: 48px;
	color: #115ea0;
	letter-spacing: 0.1em;
}

.prompt-msg {
	margin-top: 15px;
}

#head1, #head2 {
	font-family: cursive;
	color: #c33939;
}

.playDiv {
	height: 240px;
	border: 1px solid green;
}

#choices1, #choices2 {
	height: 130px;
}

#play-button {
    padding: 5px;
    font-size: 18px;
    width: 70px;
    margin-left: 10px;
}

.page-header {
	margin-bottom: 10px;
}

.game-section {
	margin: 20px auto;
}

.bigFont {
	font-size: 40px;
	font-weight: bolder;
	font-family: cursive;
	color: #115ea0;
	margin-top: 25px;
}

#result .bigFont {
    margin-top: 60px;
}

#player-name {
	width: 70%;
}


#chatBox {
	height: 200px;
	border: 1px solid green;
	overflow: scroll;
	margin-bottom: 8px;
}

#message {
	width: 85%;
}

#send {
	width: 60px;
	margin-left: 1%;
}

#chatBox p {
    margin-bottom: 0;
}

@media only screen and (max-width: 960px) {
    
  #message {
	width: 100%;
  }
}
